/* Your CSS here... */
body {font-family: Helvetica, 'Lucida Grande', Arial, sans-serif;}

h1 {font-weight: bold; border-bottom: groove;background-image: url('message_icon.png'); background-repeat: no-repeat; padding-left: 43px; display:block;}

.username {vertical-align: sub; font-size: smaller;}

.style {background-color: #5DD2F7; border-radius: 5px 15px; padding: 10px; width: 350px; height: 10px; display: table-cell; vertical-align: middle;}

